/*html, body { overflow-x: hidden; }*/

body {
	margin:15px;
	position: relative;
}

.title {
	padding-bottom: 15px;
}

h1 {
	font-family: 'Public Sans', sans-serif;
	font-weight: 300;
	color: black;
	font-size: 40px;
	line-height: 54px;
}


h2 {
	font-family: 'Public Sans', sans-serif;
	font-weight: 300;
	color: black;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
}

p {
	font-family: 'Public Sans', sans-serif;
	font-weight: 300;
	color: black;
	font-size: 16px;
	line-height: 24px;
}

a:link {
	font-family: 'Public Sans', sans-serif;
	font-weight: 300;
	color: black;
	font-size: 16px;
	line-height: 24px;
	text-decoration: underline;
}

a:hover {
	color: black;
	text-decoration: underline;
}

a:active {
	color: black;
	text-decoration: underline;
}

a:visited {
	color: black;
	text-decoration: underline;
}

.section {
	margin-bottom: 15%;
	padding-right: 3%;
}

